<div class="center-login-box">
    <div class="login-container">
        <h1>Login</h1>

        <form method="post" action="">
            <div class="input-group">
                <label for="username">Username:</label>
                <input id="username" name="username"/>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input id="password" name="password" type="password"/>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</div>