<nav class="navbar">
    <div class="nav-links">
        <NavLink class="nav-link" Match="NavLinkMatch.All">
            Home
        </NavLink>
        <NavLink class="nav-link" href="usermanager">
            UserManager
        </NavLink>
    </div>
    <div class="nav-right">
        <a class="nav-link" href="/Logout">Logout</a>
    </div>
</nav>
