.error-message {
    color: #D8000C;        /* red color for text */
    background-color: #FFD2D2; /* light red background */
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #D8000C;
}

.registration-container {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 300px;
    margin: auto;
    margin-top: 100px;
}

.registration-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fafafa;
}

.form-label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
}

.submit-btn {
    background-color: #5C67F2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #5058E6;
}

.form-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
